@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: white;
    font-family: "Poppins, sans-serif";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero {
    margin-top: -150px;
    background-image: url('/assets/hammer-kid3.jpg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px; /* Adjust as needed */
    /* z-index: 1; */
    position: relative;

  }
  .bg-none {
   background: transparent;
  }
  .number {
    background: linear-gradient(to right, #b13100, #2e0d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hexagon-icon {
    
    height: 15px;
    width: 14px;
    position: relative;
    display: block;
    margin: 5px auto 0;
}

.hexagon-icon:before,
.hexagon-icon:after {
    content: '';
    background: #ff8500;
    position: absolute;
    width: 75px;
    height: 1px;
    top: 6px;
    margin: 0 -5px;
}

.hexagon-icon:before {
    left: -75px; /* Position the line before */
}

.hexagon-icon:after {
    right: -75px; /* Position the line after */
}

.hexagon-icon i {
    position: relative;
    width: 14px;
    height: 8px;
    border-left: solid 3px #ff8500;
    border-right: solid 3px #ff8500;
    display: block;
    margin: 0 auto;
    top: 3px;
    z-index: 2;
}

  @media screen and (max-width: 768px) {
    .hero {
        margin-top: -65px;
    height: 900px; /* Adjust as needed */
      background-image: url('../../public/assets/hammer-kid-mobile2.jpg');
    }
  }
  @media screen and (min-width: 768px) and (max-width: 860px) {
    .hero {
        background-size: 200%;
    }
}

  @media screen and (min-width: 1300px) {
    .hero {
        background-size: 100%;
    }
  }
  